* {
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100%;
}

body {
    background-color: white;

}

.container-1 {
    border-radius: 20px;
}

.container {

    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;

}

.counter-body {
    background: blanchedalmond;
    padding: 100px;
    border-radius: 12px;
    text-align: center;
}

.button-container button {
    border-radius: 14px;
    color: black;
    padding: 10px 35px;
    border: 0;
    font-size: 15px;
    font-weight: bold;
    margin: 0;
    cursor: pointer;
    transition: 0.5s;
}

#value {
    font-size: 50px;
    padding-bottom: 30px;
    margin-top: 10px;
}

#title {
    color: black;
    margin-top: 10px;
    padding-bottom: 50px;
}

.button-container {
    padding-top: 30px;
}

#decrease {
    background-color: rgb(255 0 0);
    color: white;
}

#reset {
    background-color: rgb(29 161 242);
    color: white;
}

#increase {
    background-color: rgb(37 211 102);
    color: white;
}